<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	
	<title>Document</title>


	<div class="contenedor">
		<h1 style="color: darkblue; text-align: center;">
			Ingreso de Estudiante</h1>
	</div>
</head>

<body>
	<form th:action="@{/estudiantes/insertar}" th:object="${estudiante}" th:method="POST">
		<table class="table table-success table-striped">
			<tr>
				<th>Datos Necesarios</th>
				<th>Campos a llenar</th>
				
			</tr>
			
			<tr>
				<td><label  class="btn btn-primary active">Nombre:</label></td>
				<td><input class="btn btn-outline-primary" type="text" th:field="${estudiante.nombre}"></td>
			</tr>
			<tr>
				<td><label  class="btn btn-primary active">Apellido:</label></td>
				<td><input class="btn btn-outline-primary"type="text" th:field="${estudiante.apellido}"></td>
			</tr>
			<tr>
				<td><label  class="btn btn-primary active">Cedula:</label></td>
				<td><input class="btn btn-outline-primary"type="text" th:field="${estudiante.cedula}"></td>
			</tr>
			<tr>
				<td><label  class="btn btn-primary active">Direccion:</label></td>
				<td><input class="btn btn-outline-primary"type="text" th:field="${estudiante.direccion}"></td>
			</tr>
			<tr>
				<td><label  class="btn btn-primary active">Telefono:</label></td>
				<td><input class="btn btn-outline-primary"type="text" th:field="${estudiante.telefono}"></td>
			</tr>
		</table>
		<input class="btn btn-success" type="submit" value="Guardar">
		<br>
	</form>
<!--	<br>-->
	<form th:action="@{/matriculaciones/home}" th:object="${bodeguero}" method="get">
		<input class="btn btn-primary" type="submit" value="Home">
	</form>
</body>

</html>